--
-- PostgreSQL database dump
--

\restrict 7v5vr29T2V0aBy1TWbu5wJ8b6RbnbD7uv6RSCPOT6ttJvkD3Vtt5WIEgXVKhX3Q

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: antiquar
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO antiquar;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: antiquar
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: antiquar
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO antiquar;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: antiquar
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    "userId" integer,
    action text NOT NULL,
    "entityType" text,
    "entityId" integer,
    "oldValues" jsonb,
    "newValues" jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "ipAddress" text,
    success boolean,
    "userAgent" text
);


ALTER TABLE public.audit_logs OWNER TO antiquar;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: antiquar
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_logs_id_seq OWNER TO antiquar;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: antiquar
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: antiquar
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    "parentId" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.categories OWNER TO antiquar;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: antiquar
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categories_id_seq OWNER TO antiquar;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: antiquar
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: committees; Type: TABLE; Schema: public; Owner: antiquar
--

CREATE TABLE public.committees (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    "contactInfo" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.committees OWNER TO antiquar;

--
-- Name: committees_id_seq; Type: SEQUENCE; Schema: public; Owner: antiquar
--

CREATE SEQUENCE public.committees_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.committees_id_seq OWNER TO antiquar;

--
-- Name: committees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: antiquar
--

ALTER SEQUENCE public.committees_id_seq OWNED BY public.committees.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: antiquar
--

CREATE TABLE public.products (
    id integer NOT NULL,
    name text NOT NULL,
    sku text NOT NULL,
    description text,
    "purchasePrice" numeric(10,2) NOT NULL,
    "salePrice" numeric(10,2) NOT NULL,
    quantity integer DEFAULT 0 NOT NULL,
    "minStockLevel" integer DEFAULT 0 NOT NULL,
    "categoryId" integer,
    images text[] DEFAULT ARRAY[]::text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "arrivalDate" timestamp(3) without time zone,
    "committeeId" integer,
    "warehouseId" integer,
    "transactionTypeId" integer
);


ALTER TABLE public.products OWNER TO antiquar;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: antiquar
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.products_id_seq OWNER TO antiquar;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: antiquar
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: returns; Type: TABLE; Schema: public; Owner: antiquar
--

CREATE TABLE public.returns (
    id integer NOT NULL,
    "productId" integer NOT NULL,
    quantity integer NOT NULL,
    reason text,
    "returnedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "returnedBy" integer NOT NULL
);


ALTER TABLE public.returns OWNER TO antiquar;

--
-- Name: returns_id_seq; Type: SEQUENCE; Schema: public; Owner: antiquar
--

CREATE SEQUENCE public.returns_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.returns_id_seq OWNER TO antiquar;

--
-- Name: returns_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: antiquar
--

ALTER SEQUENCE public.returns_id_seq OWNED BY public.returns.id;


--
-- Name: sales; Type: TABLE; Schema: public; Owner: antiquar
--

CREATE TABLE public.sales (
    id integer NOT NULL,
    "productId" integer NOT NULL,
    quantity integer NOT NULL,
    "salePrice" numeric(10,2) NOT NULL,
    "soldAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "soldBy" integer NOT NULL
);


ALTER TABLE public.sales OWNER TO antiquar;

--
-- Name: sales_id_seq; Type: SEQUENCE; Schema: public; Owner: antiquar
--

CREATE SEQUENCE public.sales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sales_id_seq OWNER TO antiquar;

--
-- Name: sales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: antiquar
--

ALTER SEQUENCE public.sales_id_seq OWNED BY public.sales.id;


--
-- Name: transaction_type; Type: TABLE; Schema: public; Owner: antiquar
--

CREATE TABLE public.transaction_type (
    id integer NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.transaction_type OWNER TO antiquar;

--
-- Name: transaction_type_id_seq; Type: SEQUENCE; Schema: public; Owner: antiquar
--

CREATE SEQUENCE public.transaction_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.transaction_type_id_seq OWNER TO antiquar;

--
-- Name: transaction_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: antiquar
--

ALTER SEQUENCE public.transaction_type_id_seq OWNED BY public.transaction_type.id;


--
-- Name: user_statuses; Type: TABLE; Schema: public; Owner: antiquar
--

CREATE TABLE public.user_statuses (
    id integer NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.user_statuses OWNER TO antiquar;

--
-- Name: user_statuses_id_seq; Type: SEQUENCE; Schema: public; Owner: antiquar
--

CREATE SEQUENCE public.user_statuses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_statuses_id_seq OWNER TO antiquar;

--
-- Name: user_statuses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: antiquar
--

ALTER SEQUENCE public.user_statuses_id_seq OWNED BY public.user_statuses.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: antiquar
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email text NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    "fullName" text NOT NULL,
    role text DEFAULT 'GUEST'::text NOT NULL,
    "isSuperAdmin" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userStatusId" integer
);


ALTER TABLE public.users OWNER TO antiquar;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: antiquar
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO antiquar;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: antiquar
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: warehouses; Type: TABLE; Schema: public; Owner: antiquar
--

CREATE TABLE public.warehouses (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    address text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.warehouses OWNER TO antiquar;

--
-- Name: warehouses_id_seq; Type: SEQUENCE; Schema: public; Owner: antiquar
--

CREATE SEQUENCE public.warehouses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.warehouses_id_seq OWNER TO antiquar;

--
-- Name: warehouses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: antiquar
--

ALTER SEQUENCE public.warehouses_id_seq OWNED BY public.warehouses.id;


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: committees id; Type: DEFAULT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.committees ALTER COLUMN id SET DEFAULT nextval('public.committees_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: returns id; Type: DEFAULT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.returns ALTER COLUMN id SET DEFAULT nextval('public.returns_id_seq'::regclass);


--
-- Name: sales id; Type: DEFAULT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.sales ALTER COLUMN id SET DEFAULT nextval('public.sales_id_seq'::regclass);


--
-- Name: transaction_type id; Type: DEFAULT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.transaction_type ALTER COLUMN id SET DEFAULT nextval('public.transaction_type_id_seq'::regclass);


--
-- Name: user_statuses id; Type: DEFAULT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.user_statuses ALTER COLUMN id SET DEFAULT nextval('public.user_statuses_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: warehouses id; Type: DEFAULT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.warehouses ALTER COLUMN id SET DEFAULT nextval('public.warehouses_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: antiquar
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: antiquar
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: antiquar
--



--
-- Data for Name: committees; Type: TABLE DATA; Schema: public; Owner: antiquar
--

COPY public.committees (id, name, description, "contactInfo", "createdAt", "updatedAt") FROM stdin;
1	╨Ю╨Ю╨Ю ╨в╨╡╤Е╨╜╨╛╨б╨╡╤А╨▓╨╕╤Б	╨Я╨╛╤Б╤В╨░╨▓╤Й╨╕╨║ ╤Н╨╗╨╡╨║╤В╤А╨╛╨╜╨╕╨║╨╕	contact@technoservice.ru, +7 (495) 123-45-67	2026-01-08 02:28:58.954	2026-01-08 02:28:58.954
2	╨Ю╨Ю╨Ю ╨Ъ╨░╨╜╤Ж╨в╨╛╤А╨│	╨Я╨╛╤Б╤В╨░╨▓╤Й╨╕╨║ ╨║╨░╨╜╤Ж╨╡╨╗╤П╤А╤Б╨║╨╕╤Е ╤В╨╛╨▓╨░╤А╨╛╨▓	info@kantorg.ru, +7 (495) 987-65-43	2026-01-08 02:28:58.959	2026-01-12 11:31:07.158
3	╨Я╤А╨╛ ╨Ф	╨Ф╨╛╨╗╨╢╨╜╨╛ ╨▒╤Л╤В╤М ╨▓╤Б╨╡ ╨┐╨╛ 0	-	2026-01-12 11:34:26.682	2026-01-12 11:34:26.682
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: antiquar
--



--
-- Data for Name: returns; Type: TABLE DATA; Schema: public; Owner: antiquar
--

COPY public.returns (id, "productId", quantity, reason, "returnedAt", "returnedBy") FROM stdin;
3	10	1	╨Ф╨╛╨╗╨│╨╛ ╨╜╨╡ ╨┐╤А╨╛╨┤╨░╨╡╤В╤Б╤П	2026-01-08 04:01:45.766	1
2	9	10	╨Ш╨╖╨╝╨╡╨╜╨╡╨╜╨╕╨╡ ╨╖╨░╨║╨░╨╖╨░	2026-01-07 02:28:00	2
4	10	5	╨Ф╨╛╨╗╨│╨╛ ╨┐╤А╨╛╨┤╨░╨╡╤В╤Б╤П!!!!!	2026-01-08 05:19:38.269	1
1	7	1	╨С╤А╨░╨║╨╛╨▓╨░╨╜╨╜╤Л╨╣ ╤В╨╛╨▓╨░╤А	2026-01-06 00:28:00	2
6	9	10		2026-01-09 08:45:15.007	1
7	12	1	╨Э╨╡ ╨┐╤А╨╛╨┤╨░╨╡╤В╤Б╤П	2026-01-11 14:50:00	1
8	13	1	╨Я╤А╨╛╨▓╨╡╤А╨║╨░ ╤А╨░╨▒╨╛╤В╤Л	2026-01-15 20:55:49.432	1
\.


--
-- Data for Name: sales; Type: TABLE DATA; Schema: public; Owner: antiquar
--

COPY public.sales (id, "productId", quantity, "salePrice", "soldAt", "soldBy") FROM stdin;
4	10	10	50.00	2026-01-08 05:19:14.787	1
5	9	1	160.00	2026-01-07 18:38:00	1
6	13	1	3750.00	2026-01-12 12:16:15.744	1
7	10	1	50.00	2026-01-14 05:38:30.005	1
8	13	1	3750.00	2026-01-15 20:55:45.647	1
\.


--
-- Data for Name: transaction_type; Type: TABLE DATA; Schema: public; Owner: antiquar
--

COPY public.transaction_type (id, name, "createdAt", "updatedAt") FROM stdin;
3	╨Т╤Л╨║╤Г╨┐	2026-01-08 02:28:58.907	2026-01-08 02:28:58.907
4	╨Ъ╨╛╨╝╨╕╤Б╤Б╨╕╤П	2026-01-08 02:28:58.912	2026-01-08 02:28:58.912
\.


--
-- Data for Name: user_statuses; Type: TABLE DATA; Schema: public; Owner: antiquar
--

COPY public.user_statuses (id, code, name, description, "createdAt", "updatedAt") FROM stdin;
1	active	╨Р╨║╤В╨╕╨▓╨╜╤Л╨╣	╨Я╨╛╨╗╤М╨╖╨╛╨▓╨░╤В╨╡╨╗╤М ╨╕╨╝╨╡╨╡╤В ╨┤╨╛╤Б╤В╤Г╨┐ ╨║ ╤Б╨╕╤Б╤В╨╡╨╝╨╡	2026-01-14 04:15:29.979	2026-01-14 04:15:29.979
2	blocked	╨Ч╨░╨▒╨╗╨╛╨║╨╕╤А╨╛╨▓╨░╨╜╨╜╤Л╨╣	╨Ф╨╛╤Б╤В╤Г╨┐ ╨║ ╤Б╨╕╤Б╤В╨╡╨╝╨╡ ╨╛╨│╤А╨░╨╜╨╕╤З╨╡╨╜	2026-01-14 04:16:05.227	2026-01-14 04:16:05.227
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: antiquar
--

COPY public.users (id, email, username, password, "fullName", role, "isSuperAdmin", "createdAt", "updatedAt", "userStatusId") FROM stdin;
1	admin1@warehouse.com	admin	$2a$10$dVq68u2MLoUbhjaisRwZjeYzoMUlDSnJlKvZCIA4pldCXDY8dYoWa	Super Administrator	ADMIN	t	2026-01-08 00:05:58.425	2026-01-16 00:49:28.903	1
2	admin1@company.com	superadmin	$2a$10$SDNmICWL6ore43QaNvjm/esJ5BTmv39RfU7SMIsBavQmxDN.30W36	Super Admin	ADMIN	t	2026-01-08 02:28:58.883	2026-01-16 08:16:57.165	1
\.


--
-- Data for Name: warehouses; Type: TABLE DATA; Schema: public; Owner: antiquar
--

COPY public.warehouses (id, name, description, address, "createdAt", "updatedAt") FROM stdin;
1	╨Ш╨╜╤В╨╡╤А	╨Ю╤Б╨╜╨╛╨▓╨╜╨╛╨╣ ╤Б╨║╨╗╨░╨┤ ╨┤╨╗╤П ╤Е╤А╨░╨╜╨╡╨╜╨╕╤П ╤В╨╛╨▓╨░╤А╨╛╨▓	╤Г╨╗. ╨Я╤А╨╕╨╝╨╡╤А╨╜╨░╤П, ╨┤. 1	2026-01-08 02:28:58.947	2026-01-08 02:28:58.947
2	╨Ы╨╡╨╜╨╕╨╜╨░	╨а╨╡╨╖╨╡╤А╨▓╨╜╤Л╨╣ ╤Б╨║╨╗╨░╨┤ ╨┤╨╗╤П ╤Е╤А╨░╨╜╨╡╨╜╨╕╤П ╤В╨╛╨▓╨░╤А╨╛╨▓	╤Г╨╗. ╨а╨╡╨╖╨╡╤А╨▓╨╜╨░╤П, ╨┤. 2	2026-01-08 02:28:58.951	2026-01-08 02:28:58.951
\.


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: antiquar
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 42, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: antiquar
--

SELECT pg_catalog.setval('public.categories_id_seq', 5, true);


--
-- Name: committees_id_seq; Type: SEQUENCE SET; Schema: public; Owner: antiquar
--

SELECT pg_catalog.setval('public.committees_id_seq', 3, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: antiquar
--

SELECT pg_catalog.setval('public.products_id_seq', 13, true);


--
-- Name: returns_id_seq; Type: SEQUENCE SET; Schema: public; Owner: antiquar
--

SELECT pg_catalog.setval('public.returns_id_seq', 8, true);


--
-- Name: sales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: antiquar
--

SELECT pg_catalog.setval('public.sales_id_seq', 8, true);


--
-- Name: transaction_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: antiquar
--

SELECT pg_catalog.setval('public.transaction_type_id_seq', 4, true);


--
-- Name: user_statuses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: antiquar
--

SELECT pg_catalog.setval('public.user_statuses_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: antiquar
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: warehouses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: antiquar
--

SELECT pg_catalog.setval('public.warehouses_id_seq', 2, true);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: committees committees_pkey; Type: CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.committees
    ADD CONSTRAINT committees_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: returns returns_pkey; Type: CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.returns
    ADD CONSTRAINT returns_pkey PRIMARY KEY (id);


--
-- Name: sales sales_pkey; Type: CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_pkey PRIMARY KEY (id);


--
-- Name: transaction_type transaction_type_pkey; Type: CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.transaction_type
    ADD CONSTRAINT transaction_type_pkey PRIMARY KEY (id);


--
-- Name: user_statuses user_statuses_pkey; Type: CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.user_statuses
    ADD CONSTRAINT user_statuses_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: warehouses warehouses_pkey; Type: CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT warehouses_pkey PRIMARY KEY (id);


--
-- Name: products_sku_key; Type: INDEX; Schema: public; Owner: antiquar
--

CREATE UNIQUE INDEX products_sku_key ON public.products USING btree (sku);


--
-- Name: user_statuses_code_key; Type: INDEX; Schema: public; Owner: antiquar
--

CREATE UNIQUE INDEX user_statuses_code_key ON public.user_statuses USING btree (code);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: antiquar
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_username_key; Type: INDEX; Schema: public; Owner: antiquar
--

CREATE UNIQUE INDEX users_username_key ON public.users USING btree (username);


--
-- Name: audit_logs audit_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: categories categories_parentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "categories_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: products products_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: products products_committeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_committeeId_fkey" FOREIGN KEY ("committeeId") REFERENCES public.committees(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: products products_transactionTypeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_transactionTypeId_fkey" FOREIGN KEY ("transactionTypeId") REFERENCES public.transaction_type(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: products products_warehouseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES public.warehouses(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: returns returns_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.returns
    ADD CONSTRAINT "returns_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: returns returns_returnedBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.returns
    ADD CONSTRAINT "returns_returnedBy_fkey" FOREIGN KEY ("returnedBy") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sales sales_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT "sales_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sales sales_soldBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT "sales_soldBy_fkey" FOREIGN KEY ("soldBy") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: users users_userStatusId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: antiquar
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_userStatusId_fkey" FOREIGN KEY ("userStatusId") REFERENCES public.user_statuses(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: antiquar
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict 7v5vr29T2V0aBy1TWbu5wJ8b6RbnbD7uv6RSCPOT6ttJvkD3Vtt5WIEgXVKhX3Q

